.switcher {
    display: grid;
    grid-template-columns: 50px 50px 15px;
    align-items: center;
}

.button {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

.onActive {
    background: green;
}

.offActive {
    background: red;
}

.indicator {
    width: 10px;
    height: 10px;
    background: red;
    border: 1px solid black;
    border-radius: 5px;
}

.indicator.on {
    background: green;
}