.switch {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid black;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 5px;
}