.select {
    position: relative;
    width: 150px;
}

.selectedOption {
    padding: 5px 10px;
    border: 1px solid #333333;
    cursor: pointer;
}

.options {
    position: absolute;
    z-index: 1;
    width: 100%;
    border: 1px solid #333333;
    box-sizing: border-box;
}

.option {
    padding: 5px 10px;
    background: lightgray;
}

.option.selected {
    background: cadetblue;
}

.option:hover {
    cursor: pointer;
}